#chat-input::-webkit-input-placeholder{
  color:#fff;
}
#chat-input::-ms-input-placeholder{
  color: #fff;
}
#chat-input::-moz-placeholder{
  color: #fff;
}
#chat-input::placeholder{
  color: #c1c1b8;
}
#chat-input{
  border:none;
}


.cd-add-to-cart {
  display: inline-block;
  padding: 1.2em 1.8em;
  background: #4a90e2;
  border-radius: 50em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: .1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.cd-add-to-cart:hover {
  background: #42a2e1;
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main-chat-container::before {
  
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.main-chat-container.chat-open::before {
 
  visibility: visible;
}



@media screen and (max-width: 600px) {
  
.main-chat-container::before {
  opacity: 1;
}

.chat-open .chat-box .chat-window {
    height: 95%!important;
    width: 108%!important;
}

.mrginFromTop{
  margin-top: 110px!important;
}

}

.chat-button,
.chat-box {
  position: fixed;
  bottom: 20px;
  right: 1.5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.empty .chat-button, .empty
.chat-box {
  /* hide cart */
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
  .chat-button,
  .chat-box {
    bottom: 20px;
  }
}

.chat-button {
  /* button that triggers the cart content */
  z-index: 3;
  height: 60px;
  width: 60px;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.chat-button::after, .chat-button::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(/images/chat.png) no-repeat -9px -7px;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;

     border-radius: 50%; 
}
.chat-button::after {
  /* 'X' icon */
  background-position: -78px -4px;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);

}

.chat-button::before {
   background-color: #1F8CEB;
}

.chat-open .chat-button::before {
  opacity: 0;
 
}
.chat-open .chat-button::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
background-color: #1F8CEB;
}
.chat-button .count {
  /* number of items indicator */
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  -webkit-transition: -webkit-transform .2s .5s;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.chat-button .count li {
  /* this is the number of items in the cart */
  position: absolute;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.chat-button .count li:last-of-type {
  visibility: hidden;
}
.chat-button .count.update-count li:last-of-type {
  -webkit-animation: cd-qty-enter .15s;
          animation: cd-qty-enter .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.chat-button .count.update-count li:first-of-type {
  -webkit-animation: cd-qty-leave .15s;
          animation: cd-qty-leave .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.chat-open .chat-button .count {
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.empty .chat-button .count {
  /* fix bug - when cart is empty, do not animate count */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.chat-button:hover + div .chat-window {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.chat-open .chat-button:hover + div .chat-window {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.chat-box {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 370px;
  height: 564px;
  max-height: 90%;
  pointer-events: none;
  display: none;

}
.chat-box .chat-window {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  /* border-radius: 6px; */
  -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
          transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}
.chat-box header, .chat-box footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
      height: 70px;
}
.chat-box header, .chat-box .body {
  opacity: 0;
}
.chat-box header {
  top: 0;
  /* border-radius: 6px 6px 0 0; */
  padding: 1em 1.4em;
  height: 70px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  /*border-bottom: 1px solid #e6e6e6;*/
}
.chat-box header::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box footer {
  bottom: 0;
  /* border-radius: 0 0 6px 6px; */
  /* box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #4a90e2; */
}
.chat-box h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1em;
  margin-top: 8px;
}
.chat-box .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}
.chat-box .undo a {
  text-decoration: underline;
  color: #2b3e51;
}
.chat-box .undo a:hover {
  color: #4a90e2;
}
.chat-box .undo.visible {
  opacity: 1;
  visibility: visible;
}
.chat-box .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #4a90e2;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}
.chat-box .checkout:hover {
  background: #399ee0;
}
.chat-box .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.chat-box .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/misc/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.chat-box .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
 
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.chat-box .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 20px;
}
.chat-box .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.chat-box .body li::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box .body li:not(:last-of-type) {
  margin-bottom: 20px;
}
.chat-box .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: cd-item-slide-out .3s forwards;
          animation: cd-item-slide-out .3s forwards;
}
.chat-box .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
          animation: cd-item-slide-in .3s forwards;
}
.chat-box .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
          animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chat-box .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
          animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chat-box .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}
.chat-box .product-image img {
  display: block;
}
.chat-box .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}
.chat-box .product-details::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box h3, .chat-box .price {
  font-weight: bold;
}
.chat-box h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-box h3 a {
  color: #2b3e51;
}
.chat-box h3 a:hover {
  color: #4a90e2;
}
.chat-box .price {
  float: right;
  width: 30%;
  text-align: right;
}
.chat-box .actions {
  font-size: 1.4rem;
  height: 1.6em;
  line-height: 1.6em;
}
.chat-box .actions::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box .delete-item, .chat-box .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.chat-box .delete-item {
  margin-right: 1em;
}
.chat-box .delete-item:hover {
  color: #e94b35;
}
.chat-box .quantity label {
  display: inline-block;
  margin-right: .3em;
}
.chat-box .select {
  position: relative;
}
.chat-box .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/misc/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}
.chat-box select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}
.chat-box select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}
.chat-box select::-ms-expand {
  /* hide default select arrow on IE */
  display: none;
}
.chat-open .chat-box .chat-window {
  height: 95.9%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.chat-open .chat-box header, .chat-open .chat-box .body {
  opacity: 1;
}
.chat-open .chat-box header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}
.chat-open .chat-box .body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.chat-open .chat-box .body li {
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.chat-open .chat-box .body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.chat-open .chat-box .body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.chat-open .chat-box .body li:nth-of-type(4), .chat-open .chat-box .body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
          transition-duration: .55s;
}
.chat-open .chat-box .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}
.chat-open .chat-box .checkout em {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.chat-open .chat-box .checkout:hover em {
  padding-right: 30px;
}
.chat-open .chat-box .checkout:hover em::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .chat-box .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .chat-box .body li.deleted + li {
    -webkit-animation: cd-item-move-up .3s;
            animation: cd-item-move-up .3s;
  }
  .chat-box .body li.undo-deleted + li {
    -webkit-animation: cd-item-move-down .3s;
            animation: cd-item-move-down .3s;
  }
  .chat-box .checkout {
    font-size: 2.4rem;
  }
  .chat-box .product-image {
    width: 90px;
  }
  .chat-box .product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px);
  }
  .chat-box h3, .chat-box .price {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Satisfy);


/* /* General */
body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bot-form-control {
  display: block;
  width: 100% !important;
  height: 50px;
  padding: 6px 12px !important;
  font-size: 14px;
  outline: none;
  font-family: 'Roboto' !important;
  /* background-color: #4a90e2 !important; */
  color: #63635e;
}

/* General end*/


/* Demo */
.hd1 {
  margin-top: 35vh;
  font-size: 50px;
  font-weight: 100;
}

.powered {
  font-size: 17px;
  margin-top: 20px;
}

.powered img {
  width: 70px;
  position: relative;
  top: 8px;
}

.footer {
  margin-top: 50px;
}

.foo-txt {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  color: #272727;
}

.fa-heart {
  color: #fb2323;
}
/* Demo end */



/* MyBot */
copebot .chat-div {
  position: fixed;
  width: 365px;
  min-height: 250px;
  max-height: 440px;
  height: 350px;
  /*border: 1px solid #dcdcdc;*/
  bottom: 65px;
  right: 5px;
  padding: 65px 22px 6px 28px;
  overflow-y: auto;
  background: #ffffff repeat;
  border-top-left-radius: 3px;
  z-index: 10000;
}

copebot .close {
    color: #868686;
    font-size: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    color: #FFF;
    cursor: pointer;
}

copebot .bot_profile {
  position: fixed;
    right: 0;
    margin-top: -85px;
    text-align: center;
    width: 400px;
    display: none;
    z-index: 1000;
    max-height: 70px;
    min-height: 50px;
    background-color: #0085EF;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
}

copebot .header_text {
  float: left;
  margin-top: 20px;
  color: #FFF;
  font-size: 20px;
  margin-left: 10px;
}

copebot .bot_p_img {
  max-width: 20%;
  border-radius: 50%;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

copebot .loader-div {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  width: 350px;
}

copebot .bot-txt,
copebot .bot-txt:focus {
  box-shadow: none;
  border-radius: 0;
  height: 66px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  color: #FFFF !important;
}

copebot .resultDiv .response-text {
  background: #f7f7f7;
    color: #484545;
    /* border-radius: 3px; */
    padding: 12px;
    font-size: 14px;
    font-weight: 300;
    float: left;
    /* box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12); */
    border-top-left-radius: 0;
    margin-bottom: 12px;
    margin-top: 5px;
    max-width: 80%;
    min-height: 60px;

}

copebot .resultDiv .response-text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 16px solid #f7f7f7;
  left: 12px;
}

copebot .resultDiv .userEnteredText {
  background: #0085EF;
  float: right;
  color: #ffffff;
  /* border-radius: 3px; */
  padding: 12px;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-right-radius: 0;
  position: relative;
  left: -6px;
  margin-bottom: 12px;
  margin-top: 5px;
  max-width: 80%;
  min-height: 60px;
}

copebot .resultDiv .userEnteredText:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #0085EF;
  position: absolute;
  right: -15px;
}

copebot .profile_div {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 240px;
  cursor: pointer;
}

copebot .img-profile {
  width: 65px;
}

copebot .col-hgt {
  height: 100px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 10px;
}

copebot .chat-txt {
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 15px;
  /* border-radius: 50px; */
  border: solid 1px #ccc;
}

/* Spinner start */
copebot .loader {
  background: #0085EF;
  width: 70px;
  text-align: center;
  display: none;
  /* border-radius: 4px; */
  position: relative;
  top: -7px;
  left: 19px;
  padding: 7px 10px;
  border-top-left-radius: 0;
}

copebot .loader:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #0085EF;
  left: -15px;
  margin-top: -7px;
}

copebot .loader > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

copebot .loader .dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

copebot .loader .dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Spinner End */


/* Suggestions */
copebot .responseOption {
  background: #f7f7f7;
    color: #484545;
    /* border-radius: 3px; */
    padding: 12px;
    font-size: 13px;
    font-weight: 400;
    float: left;
    /* box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12); */
    border-top-left-radius: 0;
    margin-bottom: 12px;
    margin-top: 5px;
    max-width: 80%;
}

copebot .responseOption:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #f7f7f7;
  left: 13px;
  /* margin-top: 11%; */
}

copebot .responseOption .option-val {
  display: block;
  background: #fff;
  color: #484545;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  /* border-radius: 4px; */
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.17);
  border: 1px solid #dcdcdc;
  height: 50px;
}

copebot .responseOption .option-title {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

copebot .responseOption span:last-child {
  margin-bottom: 0;
}
/* Suggestions end */


@media screen and (max-width: 500px) {
  copebot .resultDiv .userEnteredText,
  copebot .resultDiv .response-text,
  copebot .responseOption {
    width: 90%;
    margin-bottom: 20px;
  }
  copebot .chat-div,
  copebot .loader-div {
    width: 106%;
  }
  copebot .chat-div {
    height: 75% !important;

  }
}


.single-item img {
  width: 160px;
  margin: 0 auto; /* it centers any block level element */
}

.form-control::-webkit-input-placeholder {
    color: #e5e4e4;
    font-style: italic;
}

.form-control::-moz-placeholder {
    color: #e5e4e4;
    font-style: italic;
}

.form-control:-ms-input-placeholder {
    color: #e5e4e4;
    font-style: italic;
}

.form-control:-moz-placeholder {
    color: #e5e4e4;
    font-style: italic;
}
/* MyBot end */



.cd-add-to-cart {
  display: inline-block;
  padding: 1.2em 1.8em;
  background: #4a90e2;
  border-radius: 50em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: .1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.cd-add-to-cart:hover {
  background: #42a2e1;
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main-chat-container::before {
  
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.main-chat-container.chat-open::before {
 
  visibility: visible;
}



@media screen and (max-width: 600px) {
  
.main-chat-container::before {
  /* opacity: 1; */
}

.chat-open .chat-box .chat-window {
    height: 95%!important;
    width: 108%!important;
}

.mrginFromTop{
  margin-top: 110px!important;
}

}

.chat-button,
.chat-box {
  position: fixed;
  /* bottom: 20px;
  right: 1.5%; */
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.empty .chat-button, .empty
.chat-box {
  /* hide cart */
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
  .chat-button,
  .chat-box {
    bottom: 20px;
  }
}

.chat-button {
  /* button that triggers the cart content */
  z-index: 3;
  height: 60px;
  width: 60px;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.chat-open .chat-button::after, .chat-button::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(/images/chart-close.png) no-repeat -9px -7px;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;

     border-radius: 50%; 
}
.chat-button::after {
  /* 'X' icon */
  background-position: -78px -4px;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);

}

.chat-button::before {
   background-color: #1F8CEB;
}

.chat-open .chat-button::before {
  opacity: 0;
 
}
.chat-open .chat-button::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
background-color: #1F8CEB;
}
.chat-button .count {
  /* number of items indicator */
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  -webkit-transition: -webkit-transform .2s .5s;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.chat-button .count li {
  /* this is the number of items in the cart */
  position: absolute;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.chat-button .count li:last-of-type {
  visibility: hidden;
}
.chat-button .count.update-count li:last-of-type {
  -webkit-animation: cd-qty-enter .15s;
          animation: cd-qty-enter .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.chat-button .count.update-count li:first-of-type {
  -webkit-animation: cd-qty-leave .15s;
          animation: cd-qty-leave .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.chat-open .chat-button .count {
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.empty .chat-button .count {
  /* fix bug - when cart is empty, do not animate count */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.chat-button:hover + div .chat-window {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.chat-open .chat-button:hover + div .chat-window {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.chat-box {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 370px;
  height: 450px;
  max-height: 90%;
  pointer-events: none;
  display: none;

}
.chat-box .chat-window {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  /* border-radius: 6px; */
  -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
          transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}
.chat-box header, .chat-box footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 70px;
}
.chat-box header, .chat-box .body {
  opacity: 0;
}
.chat-box header {
  top: 0;
  /* border-radius: 6px 6px 0 0; */
  padding: 1em 1.4em;
  height: 70px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  /*border-bottom: 1px solid #e6e6e6;*/
}
.chat-box header::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box footer {
  bottom: 0;
  /* border-radius: 0 0 6px 6px; */
  /* box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15); */
  border-top: 1px #e6e6e6 solid;
  /* box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15); */
  background: #fff;
  padding-top: 10px;
}
.chat-box h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1em;
  margin-top: 8px;
}
.chat-box .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}
.chat-box .undo a {
  text-decoration: underline;
  color: #2b3e51;
}
.chat-box .undo a:hover {
  color: #4a90e2;
}
.chat-box .undo.visible {
  opacity: 1;
  visibility: visible;
}
.chat-box .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #4a90e2;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}
.chat-box .checkout:hover {
  background: #399ee0;
}
.chat-box .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.chat-box .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/misc/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.chat-box .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
 
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.chat-box .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 20px;
}
.chat-box .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.chat-box .body li::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box .body li:not(:last-of-type) {
  margin-bottom: 20px;
}
.chat-box .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: cd-item-slide-out .3s forwards;
          animation: cd-item-slide-out .3s forwards;
}
.chat-box .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
          animation: cd-item-slide-in .3s forwards;
}
.chat-box .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
          animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chat-box .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
          animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chat-box .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}
.chat-box .product-image img {
  display: block;
}
.chat-box .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}
.chat-box .product-details::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box h3, .chat-box .price {
  font-weight: bold;
}
.chat-box h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-box h3 a {
  color: #2b3e51;
}
.chat-box h3 a:hover {
  color: #4a90e2;
}
.chat-box .price {
  float: right;
  width: 30%;
  text-align: right;
}
.chat-box .actions {
  font-size: 1.4rem;
  height: 1.6em;
  line-height: 1.6em;
}
.chat-box .actions::after {
  clear: both;
  content: "";
  display: block;
}
.chat-box .delete-item, .chat-box .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.chat-box .delete-item {
  margin-right: 1em;
}
.chat-box .delete-item:hover {
  color: #e94b35;
}
.chat-box .quantity label {
  display: inline-block;
  margin-right: .3em;
}
.chat-box .select {
  position: relative;
}
.chat-box .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/misc/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}
.chat-box select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}
.chat-box select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}
.chat-box select::-ms-expand {
  /* hide default select arrow on IE */
  display: none;
}
.chat-open .chat-box .chat-window {
  height: 95.9%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.chat-open .chat-box header, .chat-open .chat-box .body {
  opacity: 1;
}
.chat-open .chat-box header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}
.chat-open .chat-box .body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.chat-open .chat-box .body li {
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.chat-open .chat-box .body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.chat-open .chat-box .body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.chat-open .chat-box .body li:nth-of-type(4), .chat-open .chat-box .body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
          transition-duration: .55s;
}
.chat-open .chat-box .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}
.chat-open .chat-box .checkout em {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.chat-open .chat-box .checkout:hover em {
  padding-right: 30px;
}
.chat-open .chat-box .checkout:hover em::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .chat-box .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .chat-box .body li.deleted + li {
    -webkit-animation: cd-item-move-up .3s;
            animation: cd-item-move-up .3s;
  }
  .chat-box .body li.undo-deleted + li {
    -webkit-animation: cd-item-move-down .3s;
            animation: cd-item-move-down .3s;
  }
  .chat-box .checkout {
    font-size: 2.4rem;
  }
  .chat-box .product-image {
    width: 90px;
  }
  .chat-box .product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px);
  }
  .chat-box h3, .chat-box .price {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
