 <!DOCTYPE html>
 <html>
   <head>
     <title></title>
   </head>
   <body>
         <div id="generic-chat-container" chatbot-title="V J" 
         access-token="eec1d68cdfa148edb700e7bbfc58b6c0" chatbot-ai="DIALOGUEFLOW">
         </div>
             <script
             src="http://localhost:1337/js/cope_dialogueflow/copeWidget/chat.loader_cope.js"></script>
 
 </body>
 </html>