<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
        <div id="generic-chat-container" chatbot-title="Vishal" 
        access-token="eec1d68cdfa148edb700e7bbfc58b6c0">
        </div>
            <!-- <script
            src="url + '/js/AI/dialogueFlow/widget/chat.loader.js"></script> -->
 
</body>
</html>
<script type="text/javascript">
var url = window.environment.url;

document.createElement("script");
JavaScriptCode.setAttribute('type', 'text/javascript');
JavaScriptCode.setAttribute("src", url + '/js/AI/dialogueFlow/chat.loader.js');
</script>