<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
        <div id="generic-chat-container" chatbot-title="Cope Sample" 
        access-token="589dec4a74584741938ec4e4bfc41f8e" initial-Message="Hi">
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

            <script
           src="https://copebots.herokuapp.com/js/AI/dialogueflow/widget_chat.loader.js"></script>
           
</html>