<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/css/cope-web.css"></link>
 
  </head>
  <body>
      <div class="default-page">
          <div class="header">
            <h1 id="main-title" class="container">Watson Widget</h1>
            <h3 class="container"> Click on Chat icon for sample. </h3>

           
          </div>
          <div class="main container clearfix">
              <code>
                  &lt;div id="generic-chat-container" chatbot-title="Watson Demo Bot" 
                access-token="" username="" password=""&gt;
                &lt;/div&gt;
                &lt;script
                    src="https://copebots.herokuapp.com/js/AI/watson/widget_chat.loader.js"&gt;&lt;/script&gt;
              </code>
          </div>
        </div>
  

            <div id="generic-chat-container" chatbot-title="Watson Demo Bot" 
            access-token="5f75e432-1a47-4692-969a-7a077022af31" username="apikey" password="WJj49CLvNodsDH5XMAKj-UODYV8Yw7Db22hDzIWYeQuk">
            </div>
                <script
                src="https://copebots.herokuapp.com/js/AI/watson/widget_chat.loader.js"></script>
     </body>
</html>