<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
        <div id="generic-chat-container" chatbot-title="Vishal" 
        access-token="5f75e432-1a47-4692-969a-7a077022af31" username="apikey" password="WJj49CLvNodsDH5XMAKj-UODYV8Yw7Db22hDzIWYeQuk" initialMessage="Hi">
        </div>
            <!-- <script
            src="http://localhost:1337/js/AI/watson/widget/chat.loader.js"></script> -->
 
</body>
</html>

<script type="text/javascript">
  var url = window.environment.url;
  
  document.createElement("script");
  JavaScriptCode.setAttribute('type', 'text/javascript');
  JavaScriptCode.setAttribute("src", url + '/js/AI/watson/widget_chat.loader.js');
  </script>